<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC2LcVJXYY2NKcXtG3Hj1uh529c7lYzxyo</string>
	<key>GCM_SENDER_ID</key>
	<string>462012753485</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Edy.myChat</string>
	<key>PROJECT_ID</key>
	<string>mychat-40699</string>
	<key>STORAGE_BUCKET</key>
	<string>mychat-40699.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:462012753485:ios:c8fa0eafad09e5cd289e04</string>
</dict>
</plist>